/* ======All colours are here ====== */
:root{
    --dark1:rgba(0, 0, 0, 1);
    --dark2:rgba(137, 135, 161, 1);
    --orange:rgba(233, 90, 8, 1);
    --bodycolor:rgba(217, 217, 217, 0);
}
body{
    background-color: var(--bodycolor);
}
.headxorange{
    color: var(--orange);
}
.textx-black2{
    color: var(--dark2);
}
/* ========mobile only========= */
.desktop-only{
    display:block;
}
.mobile-only{
    display:none;
}
/* ======All fonts are here(inter-for all and noto-serif for headers) ====== */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: normal;
}
/* ======All Navigation classes are here====== */
.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1140px;
    margin: 30px auto;
}
.nav-btns {
    display: flex;
    gap: 48px;
}
/* card-shopping is a wrong way to add icon; you should take help */
.card-shopping{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    gap: 5px;
}
.nav-btns a{
    text-decoration: none;
    color: var(--dark1);
}
/* ======Here add a hover of nav-btns====== */
/* ======TITLE-DESCRIPTION-BANNER====== */
.nav-title-banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1140px;
    margin: 120px auto;
    /* border: 1px solid black; */
}
.nav-title{
    font-size: 4.07rem;
    color: var(--dark1);
    margin-bottom: 0px;
}
.nav-description{
    font-size: 1.375rem;
    margin-top: 13px;
}
/* ======Main Part====== */
 .main-container{
    text-align: center;
    max-width: 1140px;
    width: 100%;
    height: auto;
    margin: 120px auto;
    /* border: 1px solid black; */
 }
 .main-title{
    font-size: 3.65rem;
    margin-top: 0px;
    margin-bottom: 8px;
 }
 .main-description{
    font-size: 1.375rem;
    margin-top: 8px;
    margin-inline:126px ;
 }
/* ======Main-Grid-Pardt====== */
.trusted-seller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0px auto ;
    gap: 80px;
    /* border: 1px solid black; */
}
.trusted-seller ul{
    padding-top: 10px;
    margin: 0px;
}
.trusted-seller ul li{
    padding-top: 20px;
}
/* ======RESPONSIVE====== */
@media screen and (max-width: 576px) {
    /* =====Nav-bar====== */
    .navigation-logo{
        width: 78px;
        height: 53px;
    }
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }
    .nav-title-banner-container{
        flex-direction: column-reverse;
        margin: 28px auto;
    }
    .nav-banner{
        width: 102.25%;
        height: auto;
        max-width: 422px;
    }
    .nav-title{
        font-size: 2rem;
    }
    .nav-description{
     font-size: 0.875rem;
    }
    /* ======MAIN SECTION====== */
    .main-container{
        margin-top: 50px;
    }
    .main-title{
        font-size: 1.5rem;
    }
    .main-description{
        font-size: 0.875rem;
        margin-inline:8px ;
    }
    .trusted-seller{
        flex-direction: column;
        justify-content: start;
        gap: 0px;
    }
    .flower-t{
        width: 100%;
        height: auto;
    }
     .trusted-seller ul{
     padding-top: 10px;
     margin: 0px;
    }
    .trusted-seller ul li{
     padding-top: 5px;
    }
    .headerxtrust{
        text-align: left;
    }
}
